In [27]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
import pickle

In [28]:
data=pd.read_csv('Churn_Modelling.csv')
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [29]:
# Preprocess the data
data = data.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1)

In [30]:
# Encode categorical variables
label_encoder_gender = LabelEncoder()
data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [31]:
# One-hot encode 'Geography'
onehot_encoder_geo = OneHotEncoder(handle_unknown='ignore')
geo_encoded = onehot_encoder_geo.fit_transform(data[['Geography']]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded, columns=onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [32]:
# Combine one-hot encoded columns with original data
data = pd.concat([data.drop('Geography', axis=1), geo_encoded_df], axis=1)
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [33]:
# Split the data into features and target
X = data.drop('EstimatedSalary', axis=1)
y = data['EstimatedSalary']

In [34]:
## Split the data in training and tetsing sets
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [35]:
## Scale these features
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [36]:
# Save the encoders and scaler for later use
with open('label_encoder_gender.pkl', 'wb') as file:
    pickle.dump(label_encoder_gender, file)

with open('onehot_encoder_geo.pkl', 'wb') as file:
    pickle.dump(onehot_encoder_geo, file)

with open('scaler.pkl', 'wb') as file:
    pickle.dump(scaler, file)

In [37]:
#### ANN Regression Problem statement

In [38]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [39]:
# Build the model
model = Sequential([
    Dense(64, activation='relu', input_shape=(X_train.shape[1],)),
    Dense(32, activation='relu'),
    Dense(1)  # Output layer for regression
])

## compile the model
model.compile(optimizer='adam',loss='mean_absolute_error',metrics=['mae'])

model.summary()

2024-10-29 19:45:00.325754: I metal_plugin/src/device/metal_device.cc:1154] Metal device set to: Apple M1 Pro
2024-10-29 19:45:00.325782: I metal_plugin/src/device/metal_device.cc:296] systemMemory: 32.00 GB
2024-10-29 19:45:00.325788: I metal_plugin/src/device/metal_device.cc:313] maxCacheSize: 10.67 GB
2024-10-29 19:45:00.326128: I tensorflow/core/common_runtime/pluggable_device/pluggable_device_factory.cc:306] Could not identify NUMA node of platform GPU ID 0, defaulting to 0. Your kernel may not have been built with NUMA support.
2024-10-29 19:45:00.326526: I tensorflow/core/common_runtime/pluggable_device/pluggable_device_factory.cc:272] Created TensorFlow device (/job:localhost/replica:0/task:0/device:GPU:0 with 0 MB memory) -> physical PluggableDevice (device: 0, name: METAL, pci bus id: <undefined>)

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                832

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [40]:
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

# Set up TensorBoard
log_dir = "regressionlogs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

In [41]:
# Set up Early Stopping
early_stopping_callback = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

In [42]:
# Train the model
history = model.fit(
    X_train, y_train,
    validation_data=(X_test, y_test),
    epochs=100,
    callbacks=[early_stopping_callback, tensorboard_callback]
)

Epoch 1/100

2024-10-29 19:45:39.964755: I tensorflow/core/grappler/optimizers/custom_graph_optimizer_registry.cc:117] Plugin optimizer for device_type GPU is enabled.

250/250 [==============================] - 4s 5ms/step - loss: 100424.3672 - mae: 100424.3672 - val_loss: 98698.5469 - val_mae: 98698.5469
Epoch 2/100
250/250 [==============================] - 1s 4ms/step - loss: 100334.9609 - mae: 100334.9609 - val_loss: 98532.5234 - val_mae: 98532.5234
Epoch 3/100
250/250 [==============================] - 1s 5ms/step - loss: 100042.5938 - mae: 100042.5938 - val_loss: 98087.9922 - val_mae: 98087.9922
Epoch 4/100
250/250 [==============================] - 1s 5ms/step - loss: 99407.5391 - mae: 99407.5391 - val_loss: 97247.8594 - val_mae: 97247.8594
Epoch 5/100
250/250 [==============================] - 1s 5ms/step - loss: 98373.3203 - mae: 98373.3203 - val_loss: 96042.0703 - val_mae: 96042.0703
Epoch 6/100
250/250 [==============================] - 1s 5ms/step - loss: 97009.9219 - mae: 97009.9219 - val_loss: 94511.4688 - val_mae: 94511.4688
Epoch 7/100
250/250 [==============================] - 1s 5ms/step - loss: 95420.3906 - mae: 95420.3906 - val_loss: 92811.9062 - val_mae: 92811.9062
Epoch 8/100
250/250 [==============================] - 1s 5ms/step - loss: 93782.7891 - mae: 93782.7891 - val_loss: 91258.0312 - val_mae: 91258.0312
Epoch 9/100
250/250 [==============================] - 1s 5ms/step - loss: 92181.4297 - mae: 92181.4297 - val_loss: 89996.9922 - val_mae: 89996.9922
Epoch 10/100
250/250 [==============================] - 1s 5ms/step - loss: 91037.9844 - mae: 91037.9844 - val_loss: 89136.0938 - val_mae: 89136.0938
Epoch 11/100
250/250 [==============================] - 1s 5ms/step - loss: 90235.8047 - mae: 90235.8047 - val_loss: 88510.5312 - val_mae: 88510.5312
Epoch 12/100
250/250 [==============================] - 1s 5ms/step - loss: 89679.5547 - mae: 89679.5547 - val_loss: 88071.7969 - val_mae: 88071.7969
Epoch 13/100
250/250 [==============================] - 1s 5ms/step - loss: 89242.7578 - mae: 89242.7578 - val_loss: 87692.6172 - val_mae: 87692.6172
Epoch 14/100
250/250 [==============================] - 1s 5ms/step - loss: 88871.4453 - mae: 88871.4453 - val_loss: 87340.4375 - val_mae: 87340.4375
Epoch 15/100
250/250 [==============================] - 1s 5ms/step - loss: 88524.1172 - mae: 88524.1172 - val_loss: 86979.7266 - val_mae: 86979.7266
Epoch 16/100
250/250 [==============================] - 1s 5ms/step - loss: 88179.6484 - mae: 88179.6484 - val_loss: 86619.3672 - val_mae: 86619.3672
Epoch 17/100
250/250 [==============================] - 1s 5ms/step - loss: 87848.4922 - mae: 87848.4922 - val_loss: 86224.0625 - val_mae: 86224.0625
Epoch 18/100
250/250 [==============================] - 1s 5ms/step - loss: 87463.4531 - mae: 87463.4531 - val_loss: 85821.9297 - val_mae: 85821.9297
Epoch 19/100
250/250 [==============================] - 1s 5ms/step - loss: 87041.9453 - mae: 87041.9453 - val_loss: 85432.2812 - val_mae: 85432.2812
Epoch 20/100
250/250 [==============================] - 1s 5ms/step - loss: 86687.3906 - mae: 86687.3906 - val_loss: 85043.3906 - val_mae: 85043.3906
Epoch 21/100
250/250 [==============================] - 1s 5ms/step - loss: 86297.3359 - mae: 86297.3359 - val_loss: 84659.9766 - val_mae: 84659.9766
Epoch 22/100
250/250 [==============================] - 1s 5ms/step - loss: 85937.7109 - mae: 85937.7109 - val_loss: 84291.4375 - val_mae: 84291.4375
Epoch 23/100
250/250 [==============================] - 1s 5ms/step - loss: 85537.7812 - mae: 85537.7812 - val_loss: 83924.9766 - val_mae: 83924.9766
Epoch 24/100
250/250 [==============================] - 1s 5ms/step - loss: 85157.8828 - mae: 85157.8828 - val_loss: 83566.0234 - val_mae: 83566.0234
Epoch 25/100
250/250 [==============================] - 1s 5ms/step - loss: 84800.5469 - mae: 84800.5469 - val_loss: 83225.1250 - val_mae: 83225.1250
Epoch 26/100
250/250 [==============================] - 1s 5ms/step - loss: 84455.7031 - mae: 84455.7031 - val_loss: 82900.5703 - val_mae: 82900.5703
Epoch 27/100
250/250 [==============================] - 1s 4ms/step - loss: 84136.2891 - mae: 84136.2891 - val_loss: 82618.1328 - val_mae: 82618.1328
Epoch 28/100
250/250 [==============================] - 1s 5ms/step - loss: 83857.4766 - mae: 83857.4766 - val_loss: 82352.7031 - val_mae: 82352.7031
Epoch 29/100
250/250 [==============================] - 1s 5ms/step - loss: 83587.1094 - mae: 83587.1094 - val_loss: 82108.4531 - val_mae: 82108.4531
Epoch 30/100
250/250 [==============================] - 1s 5ms/step - loss: 83360.7656 - mae: 83360.7656 - val_loss: 81900.7812 - val_mae: 81900.7812
Epoch 31/100
250/250 [==============================] - 1s 4ms/step - loss: 83151.2656 - mae: 83151.2656 - val_loss: 81695.2969 - val_mae: 81695.2969
Epoch 32/100
250/250 [==============================] - 1s 5ms/step - loss: 82933.8984 - mae: 82933.8984 - val_loss: 81504.6016 - val_mae: 81504.6016
Epoch 33/100
250/250 [==============================] - 1s 5ms/step - loss: 82732.7734 - mae: 82732.7734 - val_loss: 81324.1406 - val_mae: 81324.1406
Epoch 34/100
250/250 [==============================] - 1s 5ms/step - loss: 82561.3672 - mae: 82561.3672 - val_loss: 81148.2266 - val_mae: 81148.2266
Epoch 35/100
250/250 [==============================] - 1s 5ms/step - loss: 82400.5078 - mae: 82400.5078 - val_loss: 80993.5391 - val_mae: 80993.5391
Epoch 36/100
250/250 [==============================] - 1s 5ms/step - loss: 82237.2578 - mae: 82237.2578 - val_loss: 80835.0000 - val_mae: 80835.0000
Epoch 37/100
250/250 [==============================] - 1s 4ms/step - loss: 82097.7812 - mae: 82097.7812 - val_loss: 80689.2344 - val_mae: 80689.2344
Epoch 38/100
250/250 [==============================] - 1s 5ms/step - loss: 81962.3984 - mae: 81962.3984 - val_loss: 80521.0625 - val_mae: 80521.0625
Epoch 39/100
250/250 [==============================] - 1s 5ms/step - loss: 81810.6406 - mae: 81810.6406 - val_loss: 80398.4375 - val_mae: 80398.4375
Epoch 40/100
250/250 [==============================] - 1s 5ms/step - loss: 81671.3125 - mae: 81671.3125 - val_loss: 80299.3828 - val_mae: 80299.3828
Epoch 41/100
250/250 [==============================] - 1s 5ms/step - loss: 81582.1250 - mae: 81582.1250 - val_loss: 80190.2344 - val_mae: 80190.2344
Epoch 42/100
250/250 [==============================] - 1s 5ms/step - loss: 81488.9609 - mae: 81488.9609 - val_loss: 80103.6250 - val_mae: 80103.6250
Epoch 43/100
250/250 [==============================] - 1s 5ms/step - loss: 81383.6953 - mae: 81383.6953 - val_loss: 79999.8438 - val_mae: 79999.8438
Epoch 44/100
250/250 [==============================] - 1s 5ms/step - loss: 81285.2578 - mae: 81285.2578 - val_loss: 79880.5078 - val_mae: 79880.5078
Epoch 45/100
250/250 [==============================] - 1s 5ms/step - loss: 81139.7031 - mae: 81139.7031 - val_loss: 79796.2188 - val_mae: 79796.2188
Epoch 46/100
250/250 [==============================] - 1s 5ms/step - loss: 81072.5078 - mae: 81072.5078 - val_loss: 79722.2656 - val_mae: 79722.2656
Epoch 47/100
250/250 [==============================] - 1s 5ms/step - loss: 80998.1172 - mae: 80998.1172 - val_loss: 79642.5938 - val_mae: 79642.5938
Epoch 48/100
250/250 [==============================] - 1s 4ms/step - loss: 80905.1016 - mae: 80905.1016 - val_loss: 79587.1484 - val_mae: 79587.1484
Epoch 49/100
250/250 [==============================] - 1s 4ms/step - loss: 80858.2812 - mae: 80858.2812 - val_loss: 79516.0781 - val_mae: 79516.0781
Epoch 50/100
250/250 [==============================] - 1s 5ms/step - loss: 80785.5547 - mae: 80785.5547 - val_loss: 79435.7656 - val_mae: 79435.7656
Epoch 51/100
250/250 [==============================] - 1s 5ms/step - loss: 80706.7500 - mae: 80706.7500 - val_loss: 79400.5469 - val_mae: 79400.5469
Epoch 52/100
250/250 [==============================] - 1s 5ms/step - loss: 80655.8594 - mae: 80655.8594 - val_loss: 79357.1250 - val_mae: 79357.1250
Epoch 53/100
250/250 [==============================] - 1s 5ms/step - loss: 80623.0000 - mae: 80623.0000 - val_loss: 79303.6328 - val_mae: 79303.6328
Epoch 54/100
250/250 [==============================] - 1s 5ms/step - loss: 80559.7266 - mae: 80559.7266 - val_loss: 79228.4141 - val_mae: 79228.4141
Epoch 55/100
250/250 [==============================] - 1s 5ms/step - loss: 80497.0938 - mae: 80497.0938 - val_loss: 79207.1562 - val_mae: 79207.1562
Epoch 56/100
250/250 [==============================] - 1s 5ms/step - loss: 80466.5156 - mae: 80466.5156 - val_loss: 79150.7109 - val_mae: 79150.7109
Epoch 57/100
250/250 [==============================] - 1s 4ms/step - loss: 80416.2188 - mae: 80416.2188 - val_loss: 79111.8516 - val_mae: 79111.8516
Epoch 58/100
250/250 [==============================] - 1s 4ms/step - loss: 80382.0391 - mae: 80382.0391 - val_loss: 79051.2578 - val_mae: 79051.2578
Epoch 59/100
250/250 [==============================] - 1s 5ms/step - loss: 80338.1328 - mae: 80338.1328 - val_loss: 79039.4609 - val_mae: 79039.4609
Epoch 60/100
250/250 [==============================] - 1s 5ms/step - loss: 80302.5625 - mae: 80302.5625 - val_loss: 78988.2188 - val_mae: 78988.2188
Epoch 61/100
250/250 [==============================] - 1s 5ms/step - loss: 80265.3125 - mae: 80265.3125 - val_loss: 78936.2891 - val_mae: 78936.2891
Epoch 62/100
250/250 [==============================] - 1s 5ms/step - loss: 80206.1406 - mae: 80206.1406 - val_loss: 78833.4609 - val_mae: 78833.4609
Epoch 63/100
250/250 [==============================] - 1s 4ms/step - loss: 80092.6172 - mae: 80092.6172 - val_loss: 78782.7266 - val_mae: 78782.7266
Epoch 64/100
250/250 [==============================] - 1s 5ms/step - loss: 80050.1719 - mae: 80050.1719 - val_loss: 78735.1953 - val_mae: 78735.1953
Epoch 65/100
250/250 [==============================] - 1s 5ms/step - loss: 80015.8672 - mae: 80015.8672 - val_loss: 78689.5391 - val_mae: 78689.5391
Epoch 66/100
250/250 [==============================] - 1s 5ms/step - loss: 79976.5625 - mae: 79976.5625 - val_loss: 78651.3047 - val_mae: 78651.3047
Epoch 67/100
250/250 [==============================] - 1s 5ms/step - loss: 79936.9375 - mae: 79936.9375 - val_loss: 78599.2422 - val_mae: 78599.2422
Epoch 68/100
250/250 [==============================] - 1s 5ms/step - loss: 79893.1328 - mae: 79893.1328 - val_loss: 78548.5156 - val_mae: 78548.5156
Epoch 69/100
250/250 [==============================] - 1s 5ms/step - loss: 79844.9688 - mae: 79844.9688 - val_loss: 78508.2500 - val_mae: 78508.2500
Epoch 70/100
250/250 [==============================] - 1s 5ms/step - loss: 79800.7578 - mae: 79800.7578 - val_loss: 78475.8047 - val_mae: 78475.8047
Epoch 71/100
250/250 [==============================] - 1s 5ms/step - loss: 79769.7578 - mae: 79769.7578 - val_loss: 78444.2578 - val_mae: 78444.2578
Epoch 72/100
250/250 [==============================] - 1s 4ms/step - loss: 79742.4531 - mae: 79742.4531 - val_loss: 78445.0625 - val_mae: 78445.0625
Epoch 73/100
250/250 [==============================] - 1s 5ms/step - loss: 79711.4297 - mae: 79711.4297 - val_loss: 78405.4609 - val_mae: 78405.4609
Epoch 74/100
250/250 [==============================] - 1s 6ms/step - loss: 79682.6875 - mae: 79682.6875 - val_loss: 78344.9531 - val_mae: 78344.9531
Epoch 75/100
250/250 [==============================] - 1s 5ms/step - loss: 79613.0000 - mae: 79613.0000 - val_loss: 78296.3359 - val_mae: 78296.3359
Epoch 76/100
250/250 [==============================] - 1s 5ms/step - loss: 79591.5781 - mae: 79591.5781 - val_loss: 78247.2578 - val_mae: 78247.2578
Epoch 77/100
250/250 [==============================] - 1s 5ms/step - loss: 79533.2109 - mae: 79533.2109 - val_loss: 78204.8516 - val_mae: 78204.8516
Epoch 78/100
250/250 [==============================] - 1s 5ms/step - loss: 79491.3516 - mae: 79491.3516 - val_loss: 78185.5078 - val_mae: 78185.5078
Epoch 79/100
250/250 [==============================] - 1s 5ms/step - loss: 79458.8516 - mae: 79458.8516 - val_loss: 78132.5469 - val_mae: 78132.5469
Epoch 80/100
250/250 [==============================] - 1s 5ms/step - loss: 79436.0781 - mae: 79436.0781 - val_loss: 78081.0312 - val_mae: 78081.0312
Epoch 81/100
250/250 [==============================] - 1s 5ms/step - loss: 79403.9375 - mae: 79403.9375 - val_loss: 78076.2969 - val_mae: 78076.2969
Epoch 82/100
250/250 [==============================] - 1s 5ms/step - loss: 79380.3438 - mae: 79380.3438 - val_loss: 78049.6797 - val_mae: 78049.6797
Epoch 83/100
250/250 [==============================] - 1s 5ms/step - loss: 79352.5547 - mae: 79352.5547 - val_loss: 78061.4531 - val_mae: 78061.4531
Epoch 84/100
250/250 [==============================] - 1s 5ms/step - loss: 79317.0078 - mae: 79317.0078 - val_loss: 78059.8125 - val_mae: 78059.8125
Epoch 85/100
250/250 [==============================] - 1s 4ms/step - loss: 79299.5156 - mae: 79299.5156 - val_loss: 77954.1875 - val_mae: 77954.1875
Epoch 86/100
250/250 [==============================] - 1s 5ms/step - loss: 79260.0469 - mae: 79260.0469 - val_loss: 77949.6172 - val_mae: 77949.6172
Epoch 87/100
250/250 [==============================] - 1s 5ms/step - loss: 79239.5234 - mae: 79239.5234 - val_loss: 77937.6641 - val_mae: 77937.6641
Epoch 88/100
250/250 [==============================] - 1s 4ms/step - loss: 79215.1953 - mae: 79215.1953 - val_loss: 77886.5938 - val_mae: 77886.5938
Epoch 89/100
250/250 [==============================] - 1s 4ms/step - loss: 79179.9219 - mae: 79179.9219 - val_loss: 77890.6953 - val_mae: 77890.6953
Epoch 90/100
250/250 [==============================] - 1s 5ms/step - loss: 79155.5078 - mae: 79155.5078 - val_loss: 77910.5625 - val_mae: 77910.5625
Epoch 91/100
250/250 [==============================] - 1s 4ms/step - loss: 79129.5781 - mae: 79129.5781 - val_loss: 77795.4219 - val_mae: 77795.4219
Epoch 92/100
250/250 [==============================] - 1s 4ms/step - loss: 79076.0859 - mae: 79076.0859 - val_loss: 77780.9453 - val_mae: 77780.9453
Epoch 93/100
250/250 [==============================] - 1s 5ms/step - loss: 79040.6875 - mae: 79040.6875 - val_loss: 77718.3594 - val_mae: 77718.3594
Epoch 94/100
250/250 [==============================] - 1s 5ms/step - loss: 78998.4453 - mae: 78998.4453 - val_loss: 77678.5625 - val_mae: 77678.5625
Epoch 95/100
250/250 [==============================] - 1s 5ms/step - loss: 78962.7734 - mae: 78962.7734 - val_loss: 77652.9453 - val_mae: 77652.9453
Epoch 96/100
250/250 [==============================] - 1s 5ms/step - loss: 78933.6797 - mae: 78933.6797 - val_loss: 77631.6797 - val_mae: 77631.6797
Epoch 97/100
250/250 [==============================] - 1s 5ms/step - loss: 78908.3281 - mae: 78908.3281 - val_loss: 77617.9609 - val_mae: 77617.9609
Epoch 98/100
250/250 [==============================] - 1s 5ms/step - loss: 78893.2578 - mae: 78893.2578 - val_loss: 77584.7109 - val_mae: 77584.7109
Epoch 99/100
250/250 [==============================] - 1s 5ms/step - loss: 78883.4844 - mae: 78883.4844 - val_loss: 77564.6875 - val_mae: 77564.6875
Epoch 100/100
250/250 [==============================] - 1s 5ms/step - loss: 78832.7500 - mae: 78832.7500 - val_loss: 77486.9219 - val_mae: 77486.9219

In [43]:
%load_ext tensorboard

In [44]:
%tensorboard --logdir regressionlogs/fit